@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #AB8677;
  --black: #0B0B0B;
  --white: #ffffff;
  --grey: #AEAEAE;
  --light_grey: #E0E0E0;
}

body {
  font-family: "Mulish", sans-serif;
  height: 100vh;
  font-weight: 450;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1{
  font-size: 3.75rem!important;
  font-weight: 600;
}

li.slick-active > div {
  background-color: var(--black)!important;
}

.slick-dots li {
  margin: 0!important;
}

